@use "@dds/components/src/scss/abstracts/mixins/text" as *;

.dds__input-text {
    padding: 6px 12px;
}

.dds__search-input-text {
    padding: 6px 12px;
    width: 20%;
}

.dds__select__field {
    padding: 6px 12px;
    height: unset !important;
    @include body-2--smaller;
}


.dds__table {
    width: unset !important;
}

.dds__table .dds__th span:first-child {
    flex-grow: 1 !important;
}

.dds__tr,
.dds__thead {
    background: transparent !important;

    th {
        font-size: 0.9rem !important;
        flex: 1 !important;
        min-width: unset !important;
    }

    &__block {
        display: block;
    }
}

.dds__tr, .dds__thead {
    border-bottom: none !important;

    
}
.dds__tr ::ng-deep td{
    flex: 1 !important;
    min-width: unset !important;
}


.arrow-up {
    -moz-transform: rotate(-90deg) !important;
    -ms-transform: rotate(-90deg) !important;
    -o-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
}

.arrow-down {
    -moz-transform: rotate(90deg) !important;
    -ms-transform: rotate(90deg) !important;
    -o-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important;
}

.th__div {
    width: 100%;
}

.th__button {
    float: right;
}
.dds__message-bar__icon {
    align-self: auto;
    margin-top: 2px;
    margin-right: 10px;
}
.errorRow {
    background-color: #ffecee !important;
    color: #590a0f;
}

.dds__button--sm i {
    font-size: 0.8rem;
    margin-top: 5px;;
}

.border-bottom {
    border-bottom: 1px solid #e1e1e1;
}

.row-composite-error {
    color: #590a0f;
    display: flex;
    flex-wrap: wrap;

    td {
        width: 100%;
        ul {
            padding: 0;
        }
    }
}

.dds__message-bar--error {
    color: #590a0f !important;
    font-weight: 400;
}